

.todo-filters{
	display: flex;
	justify-content: space-between;
	margin-bottom: 40px;
	
}
.todo-filters_active{

}
.todo-filters_all{

}
.todo-filters_completed{

}
button{
	background: #dddddd;
		border: none;
		padding: 5px;
		border-radius: 5px;
		cursor: pointer;
		transition: all .4s ease;
		font-size: 16px;

}

button:hover{
	background-color: #908f8fdd;

}