.pagination {
	display: flex;
	gap: 8px;
	justify-content: center;
	margin-top: 20px;
}

.pagination button {
	width: 12px;
	height: 12px;
	border-radius: 50%;
	/* делаем кружок */
	border: none;
	background-color: #ccc;
	/* цвет неактивного */
	cursor: pointer;
	padding: 0;
}

.pagination button.active {
	background-color: #007bff;
	/* цвет активного */
}